# Virtual Environment
venv/
.venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets
.env

# Database & SQLite files
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
backend/data/

# Frontend / Node.js
node_modules/
dist/
dist-ssr/
*.local
.npm/

# OS Specific
.DS_Store
Thumbs.db
.vscode